h1 {
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-weight: normal;
}

h2, h3{
    font-family: "Trebuchet MS", sans-serif;
    font-weight: normal;
}

p {
    font-family: "Tahoma";
}

body {
  background-color:  #f5f5fd;
  font-family: sans-serif;
  padding: 20px;
}

li {
    font-family: "Tahoma";
    font-size: 200%;
}

a:link {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

a:visited{
  color:  #D8BFD8;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #556B2F;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color:#f4edf4;
  background-color: transparent;
  text-decoration: underline;
}
